<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Projects/AmazonBDDTest">
        <classes>
            <class name="PageObjects.GoogleTest"/>
            <class name="PageObjects.FlipkartTest"/>
        </classes>
    </test>
</suite>